@{
    ViewBag.Title = "About SparkMacon";
}
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<article>
    <p>
        We believe that supporting creativity and connection between the
        arts and technology is how we bring the next great ideas to life.
    </p>
    <p>
        We are a group of  government, business and community leaders
        spent almost 9 months exploring the idea of  putting a MakerSpace
        in Macon.  From that larger group the small group of “Founders”
        you see in our team section took the project on.
        These “Founders” represent many aspects of our community and the
        desire to bring together and create.

</article>
<aside>
    <h3>Links</h3>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>