@{
    ViewBag.Title = "Contact SparkMacon!";
}
<hgroup class="title">
    <h1>@ViewBag.Title</h1>

</hgroup>
<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>478-569-6475</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span><a href="mailto:Support@example.com">info@sparkmacon.com</a></span>
    </p>
</section>
<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        557 Cherry Street<br />
        Macon, Georgia 31201
    </p>
</section>