@{
    ViewBag.Title = "The SparkMacon MakerSpace MakerStore";
    ViewBag.Message = "Welcome to the makerstore, where makers can showcase their ware. ";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <br />
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                SparkMacon is a community innovation space, also known as a makerspace, equipped with the tools,
                equipment, and grass-roots education required to convert your idea into a reality.
                Think of us as a gym membership to exercise your creativity, hands and brain.
            </p>
        </div>
    </section>
}
<h3>News </h3>
<ul class="round">
    <li class="one">
        <h5>First Friday Open Make Night</h5>
        First Friday Open Make Night Where: SparkMacon MakerSpace – 557 Cherry Street, Macon,
        Georgia 31201 When: November 7th – 5:30pm to 9:30 pm This will be the first of our
        monthly events. We will host a 4 hour Making/Hacking event for the public and
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Read more…</a>
    </li>
    <li class="two">
        <h5>8 Georgia MakerSpaces We Love!</h5>
        In our efforts to grow the SparkMacon MakerSpace community, I wanted to shine a light on the other
        Maker communities around the state of Georgia that inspire our passion and work.
        Everyone loves to be a part of something larger than themselves.   I hope
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Read more…</a>
    </li>
    <li class="three">
        <h5>Thank You for SparkMacon Cleaning Day</h5>
        Morning!  I just wanted to extend a heart-felt thank you to all the SparkMacon members who worked
        our cleaning day this past weekend.
        From watching Facebook updates from our SparkMacon friends, the team is still
        feeling kind of sore from the work.   It really was
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Read more…</a>
    </li>
</ul>
